.site-footer
  .row
    .columns.small-12.medium-8.small-only-text-center.medium-text-left
      p.copyright © 2014 <%= appName %>. All rights reserved.
    .columns.small-12.medium-4.social-links.small-only-text-center.medium-text-right.end
      a.button.round(href="#twitter")
        i.fa.fa-twitter
      a.button.round(href="#facebook")
        i.fa.fa-facebook
      a.button.round(href="#youtube")
        i.fa.fa-youtube
