.site-footer {
  border-top: 4px solid hsl(0,0%,0%);
  margin-top: 50px;
  padding-top: 5px;

  .copyright {
    font-size: 12px;
  }

  .social-links {
    .button {
      background: hsl(0,0%,50%);
      color: hsl(0,0%,100%);
      font-size: 24px;
      height: 44px;
      line-height: 15px;
      margin-left: 10px;
      padding: 11px 12px;
      width: 44px;

      &:hover {
        background: hsl(0,0%,0%);
      }
    }
  }
}
