.site-navigation.show-for-small
  nav.tab-bar
    section.left
      a.left-off-canvas-toggle.menu-icon(href="")
        | Menu
        span

    section.middle.tab-bar-section
      h1.title <%= appName %>

aside.left-off-canvas-menu.show-for-small.off-canvas-list
  accordion(close-others="true")
    accordion-group
      accordion-heading
        a(href='') Menu Item 1
    accordion-group
      accordion-heading
        a(href='') Menu Item 2
    accordion-group
      accordion-heading
        a(href='') Menu Item 3
    accordion-group(ng-if='!wfUser')
      accordion-heading
        a(ui-sref='register') Sign Up
    accordion-group(ng-if='!wfUser' is-open="isopen" k3-stop-click-propagation)
      accordion-heading
        a(href='') Log In
        i.right(ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}")
      form(k3-stop-click-propagation).login
        label Email
          input(type="text" ng-model="wfLogin")
        label Password
          input(type="password" ng-model="wfPassword")
        input.button.expand(type="submit" value="Log In" ui-sref='login({login:wfLogin, password:wfPassowrd})' k3-exit-off-canvas)
    accordion-group(ng-if='wfUser')
      accordion-heading
        a(ui-sref='dashboard') My Dashboard
    accordion-group(ng-if='wfUser')
      accordion-heading
        a(ui-sref='profile') My Profile
    accordion-group(ng-if='wfUser')
      accordion-heading
        a(ui-sref='logout') Log Out
