<!doctype html>

<html class="no-js" lang="en" ng-app="<%= wireModuleName %>">

<head>
  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= appName %></title>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <div class="page-content" <%= directiveNamespace %>-mark-when-top>
        <ng-include src="'partials/header.html'"></ng-include>
        <ng-include src="'partials/header-mobile.html'"></ng-include>

        <div ui-view></div>

        <ng-include src="'partials/footer.html'"></ng-include>

      </div>
    </div>
  </div>


  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <!-- inject-base:js -->
  <!-- endinject -->

  <!-- inject-wire:js -->
  <!-- endinject -->
  <!-- endbuild -->
</body>

</html>
